Makefile
Makefile.in
*.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
libtool
stamp-h1
.deps
.libs
*.o
*.lo
*.la
*.sw*
*~
*.pc

compile
libtheora.spec
test-driver
lib/arm/armopts.s
doc/Doxyfile
doc/doxygen-build.stamp
doc/spec/vp3huff
examples/dump_psnr
examples/dump_video
examples/libtheora_info
